{% extends "base.html" %}

{% block content %}
    <h1>Поиск номеров</h1>

    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.check_in.label }}<br>
            {{ form.check_in(class="form-control", type="date") }}<br>
            {% for error in form.check_in.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.check_out.label }}<br>
            {{ form.check_out(class="form-control", type="date") }}<br>
            {% for error in form.check_out.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}

        </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        <div>{{ message }}</div>
    </form>
{% endblock %}