{% extends "base.html" %}

{% block content %}
<h1>Выбор номеров</h1>
<body>
<form action="" method="post" novalidate>
<table class="table">
{% for i in range(n) %}

    <tr class="table-secondary">
        <td width="15%">{{ room_nlist[i].name }}</td>
        <td width="30%">{{ room_nlist[i].description }}</td>
        <td width="40%">{{form.rooms[i]}}</td>
    </tr>

{% endfor %}
</table>

    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        <div>{{ message }}</div>
   </form>
</body>
{% endblock %}